In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pyarrow.parquet as pq
import pandas as pd

In [2]:
header_data = pd.read_csv('../ref/mislike_image_header_table.csv')

In [3]:
catalog_filename = '../ref/catalog_nd_daostarfinder.parquet'
catalog_file = pq.ParquetFile(catalog_filename)

In [4]:
eclipse = 23105
obj_id = 1525123105

In [5]:
this_star = pq.read_table(catalog_filename,filters =
                          [('eclipse','=',eclipse),
                           ('obj_id','=',obj_id)]).to_pandas()

In [6]:
this_star[['ra','dec']]

           ra        dec
0  258.737704  58.857616